{% extends 'navbar/main_navbar.html' %}

{% block title %} Lotus Dataentry {% endblock %}

{% block content %}
<style>
    #message{
        text-align: center;
        color: blue;
        font-weight: 800;
        text-transform: uppercase;
        padding: 10px;
    }
    .all{
      margin: 20px;
    }
</style>
<h2 style="text-align: center;">School List Page</h2>
<div class="main">
    {% for message in messages %}
    <p id="message">{{message}}</p>
    {% endfor %}
    <div class="all">
      <a href="{% url 'school_list' %}"class="btn btn-primary">All Schools</a>
    </div>
    <form method= 'get'class="d-flex" action="{% url 'school_list' %}"role="search">
      <input type="text"name='q'placeholder="Search school...">
    </form>
    <table style="margin-top: 20px;" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">SchoolID</th>
            <th scope="col">School Name</th>
            <th scope="col">School Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Level</th>
            <th scope="col">Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        {% for school in schools %}
        <tbody>
          <tr>
            <td>{{school.id}}</td>
            <td>{{school.schoolName}}</td>
            <td>{{school.schoolEmail}}</td>
            <td>{{school.schoolPhone}}</td>
            <td>{{school.level}}</td>
            <td>{{school.location}}</td>
            <td>
                <a href="{% url 'edit_school' school.id %}"class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_school' school.id %}"class="btn btn-danger">Delete</a>
                
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="10">No schools found</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
</div>
{% endblock %}