{% extends 'navbar/main_navbar.html' %}
{% block content %}
<style>
    h2{
        text-align: center;
    }
    .main{
        margin: 20px;
        padding: 20px;
        background: aqua;
        border-radius: 10px;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        font-size: 1em;
    }
    
</style>
<h2>Add Employee Form</h2>
<div class="main">
    <form method="post"enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{form.employeeName.label_tag}}
            {{form.employeeName}}
        </div>
        <div class="form-group">
            {{form.employeeEmail.label_tag}}
            {{form.employeeEmail}}
        </div>
        <div class="form-group">
            {{form.employeePhone.label_tag}}
            {{form.employeePhone}}
        </div>
        <div class="form-group">
            {{form.gender.label_tag}}
            {{form.gender}}
        </div>        
        <div class="form-group">
            {{form.department.label_tag}}
            {{form.department}}
        </div>        
        <button class="btn btn-primary" type="submit">Save</button>
        
    </form>
</div>

{% endblock %}  